#main{
    border-radius: 30px;
background: zinc;
box-shadow: inset 2px 3px 5px #bebebe,
            inset 0px 0px 0px #ffffff;
}
button{
        background: #474946;
    box-shadow:  3px 3px 3px #3c3e3c;
}
#result{
background: #878b85;
}